@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat' sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba (0,0,0,0.1);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header 